@use "../common/variables.scss" as vars;

.header {
  position: fixed;
  color: vars.$brand-color-light;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  opacity: 0;
  animation: fadeInHeader 1s ease-out forwards;
  animation-delay: 0.8s;
  transition: background-color 0.3s ease, color 0.3s ease;

  .logo__text,
  .nav__link,
  .toggle-button {
    transition: color 0.3s ease, background-image 0.3s ease;
    color: vars.$brand-color-light;
  }

  &--dark {
    .logo__text,
    .nav__link,
    .toggle-button {
      color: vars.$brand-color;
    }

    .toggle-button {
      background-image: url("../icons/dark-burger-icon.svg");
    }
  }
}

@keyframes fadeInHeader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  margin: 0;
  gap: 30px;
  flex-wrap: wrap;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 100%;
}

.header__logo-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header__logo {
  display: flex;
}
