doctype html
html.page(lang='ru-RU')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Forrest
    link(rel="preload" href="../fonts/Arial-Nova/Arial-Nova.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" href="../fonts/Cormorant-Garamond/cormorant-garamond-v20-cyrillic_latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" href="../fonts/Cormorant-Garamond/cormorant-garamond-v20-cyrillic_latin-italic.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" href="../fonts/Cormorant-Garamond/cormorant-garamond-v20-cyrillic_latin-500.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" href="../fonts/Cormorant-Garamond/cormorant-garamond-v20-cyrillic_latin-700.woff2" as="font" type="font/woff2" crossorigin="anonymous")
  body
    header.header
      .header__container.container
        .header__navigation
          .header__logo-container
            a.header__logo.logo(href="index.pug")
              span.logo__text Forrest
          nav.nav
            ul.nav__list
              li.nav__item
                a.nav__link(href='#') Услуги
              li.nav__item
                a.nav__link(href='#') Поддержка
              li.nav__item
                a.nav__link.nav__link--current(href="index.pug" aria-current="page") Компания
              li.nav__item
                a.nav__link(href='#') Партнеры
              li.nav__item
                a.nav__link(href='#') Портфолио
              li.nav__item
                a.nav__link(href='#') Контакты
          button.header__toggle.toggle-button(type="button")
            span.visually-hidden Открыть меню
    main.index__page
      section.hero
        .hero__image-container
          picture
            source(type="image/webp" srcset="../images/hero-background2x.webp")
            source(type="image/jpeg" srcset="../images/hero-background2x.jpg")
            img(class="hero__img" src="../images/hero-background2x.jpg" alt="Вид из окна" width="1920" height="800")
        .hero__container.container
          h1.hero__title
            | Превращаем окружение
            br
            |
            span.hero__title-accent в живые сады
          p.hero__subtitle Вертикальное озеленение для бизнеса. Преображаем бизнес центры,<br> ТЦ, отели, рестораны и другие коммерческие помещения.
      section.concept.section-light
        .concept__container.container
          h2.concept__title.title
            span.concept__title-accent
              span.concept__title--italic Достаточно
              |  найти
              br
              |  одну опорную стену
            p.concept__title-text Вертикальное озеленение – это инновационный способ интеграции природы<br> в городскую среду.
            p.concept__title-description Эти живые конструкции, состоящие из растений, закреплённых на вертикальных поверхностях, не только преображают внешний вид зданий и интерьеров,<br> но и приносят ощутимую пользу: улучшают качество воздуха, снижают температуру окружающей среды, создают звукоизоляцию и, конечно, дарят<br> эстетическое удовольствие, превращая бетонные стены в цветущие оазисы.
      section.support
        .support__container.container
          .support__text-container
            h3.support__title
              span.support__title-accent Ежемесячная
              br
              | Поддержка от нас
            p.support__subtitle Ежемесячно проверяем состояние растений,<br> бережно чистим от пыли и при необходимости<br> заменяем растения.
          .support__img-container
            picture
              source(type="image/webp" srcset="../images/balcony-support2x.webp")
              source(type="image/webp" srcset="../images/balcony-support2x.jpg")
              img(class="support__img" src="../images/balcony-support2x.jpg" alt="Фото балконов с растениями" width="960" height="700")
          .support__link-container
            a.support__link(href="#")
              span.support__icon-container
                span.support__link-icon
              span.support__link-text Консультация
